* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  background: url(cloudBackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#headerContainer {
  background-color: rgb(211, 230, 237);
  margin: none;
  padding: 30px;
  opacity: 0.9;
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
}
#searchContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 3px;
}
#headerTitle {
  font-size: 32px;
}
#searchBar,
#searchBtn {
  border-radius: 10px;
  border: 1px solid silver;
  padding: 5px;
}
#weatherContainer {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 50px;
}
#currentWeatherSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  opacity: 0.9;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
}
#currentLocationName {
  font-size: 36px;
}

#conditionText {
  font-size: 24px;
}

#errorMessage {
  background-color: rgb(77, 17, 17);
  color: white;
  font-size: 16px;
  width: 200px;
  padding: 20px;
  text-align: center;
  align-self: center;
  position: absolute;
  margin-top: 25%;
}
#currentTempSection {
  display: flex;
  gap: 20px;
}
#tempToggleBtn {
  color: white;
  background-color: skyblue;
  border: none;
}
#forecastDisplay {
  display: flex;
  background-color: rgb(211, 230, 237);
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  max-width: 800px;
  opacity: 0.8;
}
.forecastCard {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 20px;
  gap: 10px;
}

.forecastDay {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}
.forecastHighTemp,
.forecastLowTemp {
  text-align: center;
  font-weight: 500;
}
.forecastLowTemp {
  color: gray;
}
.forecastPrecipitation {
  text-align: center;
  font-size: smaller;
}
